This is a call_center exercise. Through this exercise, we want to find out which agent can approach the customers most efficiently (interested in the deal) and also which type of customer is more inclined to be interested in the deal given their characteristic features, i.e. age, working sector and residential region.

Import all related modules from Python

In [188]:
import pandas as pd
import os
import numpy as np
from pandas.api.types import CategoricalDtype
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from scipy import stats
from statsmodels.formula.api import ols

Make sure data files and the program file are saved in the same directory

In [19]:
notebook_path = os.path.abspath("Notebook.ipynb")

Load calls data

In [ ]:
calls_data = pd.read_csv('calls.csv', header = 0)

Have a quick look at the data

In [28]:
calls_data.head(10)

   Phone Number     Call Outcome   Agent  Call Number
0   83473306392   NOT INTERESTED  orange            0
1  762850680150  CALL BACK LATER  orange            1
2  476309275079   NOT INTERESTED  orange            2
3  899921761538  CALL BACK LATER     red            3
4  906739234066  CALL BACK LATER  orange            4
5  112222295806        DEAD LINE  orange            5
6  631585844810   NOT INTERESTED  orange            6
7  611492586676        DEAD LINE     red            7
8  656565043793   NOT INTERESTED  orange            8
9  800543090846  CALL BACK LATER   green            9

Q1: which agent makes most calls

In [27]:
calls_data.groupby('Agent')['Agent'].count().sort_values(ascending = False)

Agent
orange    2234
red       1478
black      750
green      339
blue       199
Name: Agent, dtype: int64

Agent 'orange' apparently has far more calls made than others. But we are not sure whether he made a lot of useless calls or he called the customers effectively.

Among all customers received at least one call from us, we want to find how many calls we need to make in order for them to make a decision (sign up or not).

In [75]:
calls_data.groupby('Phone Number')['Phone Number'].count().mean()

1.839587932303164

In [83]:
calls_data.shape[0]/(calls_data.drop_duplicates('Phone Number').shape[0])

1.839587932303164

Alternatively, we could merge the two data sets between leads (customer characteristic file) and calls

In [33]:
leads_data = pd.read_csv('leads.csv')

In [39]:
leads_data.head(10)

                Name  Phone Number      Region        Sector  Age
0       Isabela MEZA  175718505368  north-west     wholesale   19
1       Deangelo LEE  937521423043  north-west        retail   38
2       Rosia MENDEZ  403640999962    midlands   agriculture   40
3  Jeremiah GALLOWAY  946740713605    scotland          food   23
4         Sarah POPE  264176984341    midlands        retail   18
5   Nolan VILLANUEVA  102993220908  north-west     wholesale   35
6         Wade AVERY  936057266681  south-west  construction   20
7      Karyn SHEPARD  416050061466    midlands        retail   60
8    Buster CALDERON  169044176823  south-west          food   21
9        Lu JACOBSON  477236163516  north-west   consultancy   28

In [149]:
leads_calls = pd.merge(leads_data, calls_data, how = 'left', on = 'Phone Number')

In [54]:
leads_calls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12276 entries, 0 to 12275
Data columns (total 8 columns):
Name            12276 non-null object
Phone Number    12276 non-null int64
Region          12276 non-null object
Sector          12276 non-null object
Age             12276 non-null int64
Call Outcome    5000 non-null object
Agent           5000 non-null object
Call Number     5000 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 863.2+ KB

In [63]:
leads_calls[leads_and_calls['Call Outcome'].notnull()].groupby('Name')['Name'].count().mean()

1.839587932303164

Focusing on the signed up leads only, calculate the average calls they received.

In [66]:
temp_data = pd.merge(calls_data, leads_data, on = 'Phone Number')
signups_data = pd.read_csv('signups.csv')
signups_leads_calls = pd.merge(temp_data, signups_data, left_on='Name', right_on='Lead')

In [68]:
signups_data.info()
signups_leads_calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 2 columns):
Lead                 768 non-null object
Approval Decision    768 non-null object
dtypes: object(2)
memory usage: 12.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1612 entries, 0 to 1611
Data columns (total 10 columns):
Phone Number         1612 non-null int64
Call Outcome         1612 non-null object
Agent                1612 non-null object
Call Number          1612 non-null int64
Name                 1612 non-null object
Region               1612 non-null object
Sector               1612 non-null object
Age                  1612 non-null int64
Lead                 1612 non-null object
Approval Decision    1612 non-null object
dtypes: int64(3), object(7)
memory usage: 138.5+ KB

In [70]:
signups_leads_calls.groupby('Lead')['Lead'].count().mean()

2.0989583333333335

Or

In [84]:
signups_leads_calls.shape[0]/signups_data.shape[0]

2.0989583333333335

Find out which agent has most signups

In [136]:
# signups_leads_calls.groupby('Name').last().groupby('Agent')['Agent'].count().sort_values(ascending = False)
signups_leads_calls[signups_leads_calls['Call Outcome'] == 'INTERESTED'].groupby('Agent')['Agent'].count()

Agent
black      49
blue       52
green      67
orange    284
red       316
Name: Agent, dtype: int64

It is interesting to see that although Agent Orange made most calls, Agent red got most of the signups.

Note that the above conclusion is based on the assumption that all agents face similar type of leads. This is an over-restrictive assumption. Fro example, Agent red may be just lucky to call leads who are more likely to sign up based on their characteristic variables. 

Note also that not necessarily those leads who are interested will sign up.

In [154]:
signups_leads_calls_all = pd.merge(leads_calls, signups_data, how = 'left', left_on = 'Name', right_on = 'Lead')
signups_leads_calls_all[signups_leads_calls_all['Call Outcome'] == 'INTERESTED'].head(20)

,Name,Phone Number,Region,Sector,Age,Call Outcome,Agent,Call Number,Lead,Approval Decision
3,Deangelo LEE,937521423043,north-west,retail,38,INTERESTED,orange,2413.0,Deangelo LEE,APPROVED
12,Lu JACOBSON,477236163516,north-west,consultancy,28,INTERESTED,orange,2149.0,Lu JACOBSON,REJECTED
16,Theron WELCH,533788208390,north-east,entertainment,36,INTERESTED,green,1207.0,Theron WELCH,APPROVED
19,Lilia OCHOA,80967872849,north-west,wholesale,33,INTERESTED,black,1333.0,NaN,NaN
31,Cheryle CALDWELL,484404817049,north-west,consultancy,27,INTERESTED,orange,473.0,NaN,NaN
36,Naoma DURHAM,940509676942,south-east,entertainment,30,INTERESTED,black,2013.0,Naoma DURHAM,REJECTED
56,Alyssa HAMPTON,593981680906,north-east,consultancy,27,INTERESTED,orange,2292.0,Alyssa HAMPTON,REJECTED
72,Glen PATTON,532155164354,midlands,food,20,INTERESTED,red,2400.0,Glen PATTON,APPROVED
88,Christena KRAMER,379624957194,scotland,food,32,INTERESTED,orange,4067.0,NaN,NaN
101,Bonnie CALLAHAN,350965802992,scotland,food,27,INTERESTED,red,1753.0,Bonnie CALLAHAN,APPROVED
114,Maverick AVERY,517932529206,north-east,retail,23,INTERESTED,orange,3262.0,NaN,NaN
123,Lanette FRANCO,211763723387,north-west,entertainment,54,INTERESTED,blue,4749.0,Lanette FRANCO,APPROVED
128,Boris BAUER,221762821828,wales,consultancy,22,INTERESTED,blue,4656.0,Boris BAUER,REJECTED
145,Kathlyn CARLSON,151564849463,north-east,consultancy,30,INTERESTED,orange,2107.0,NaN,NaN
152,Nehemiah KRUEGER,908794485710,north-west,wholesale,32,INTERESTED,orange,3562.0,NaN,NaN
161,Wash MARTIN,112856659703,london,agriculture,30,INTERESTED,red,3376.0,Wash MARTIN,REJECTED
176,Eulalia HUGHES,739194310736,northern-ireland,consultancy,28,INTERESTED,black,410.0,NaN,NaN
179,Brittney TREVINO,194304533254,north-east,food,20,INTERESTED,black,3578.0,Brittney TREVINO,REJECTED
181,Lee GIBBS,866787583210,north-west,entertainment,18,INTERESTED,blue,1960.0,Lee GIBBS,APPROVED
198,Bernice MENDOZA,856716511479,south-west,retail,21,INTERESTED,red,436.0,NaN,NaN

We can see that there are cases where an Agent has successfully made a lead interested but the lead didn't sign up.

Next we want to check which agent tends to have the highest signups/calls ratio.

In [100]:
# answer to the most calls question
calls_per_agent = calls_data.groupby('Agent')['Agent'].count().sort_index()
# answer to the most signups question
signups_per_agent = signups_leads_calls.groupby('Lead').last().groupby('Agent')['Agent'].count().sort_index()
# divide between the two and sort it
(signups_per_agent / calls_per_agent).sort_values(ascending = False)

Agent
blue      0.261307
red       0.213802
green     0.197640
orange    0.127126
black     0.065333
Name: Agent, dtype: float64

Although Agent blue has the highest signups/calls ratio, he only made 199 calls in total, not even one tenth of the Agent orange, and he only made 52 signups, far less than those of Agent red.

Now we want to check whether the variation of average signups/calls ratio is statistically significant.

chi-square test can be used to test whether signups count is uniformlly distributed. Firstly we need to create a contingency table.

In [146]:
test_data = pd.concat([signups_per_agent, calls_per_agent - signups_per_agent], axis = 1)
test_data.columns = ['signups count', 'non-signups count']
test_data

        signups count  non-signups count
Agent
black              49                701
blue               52                147
green              67                272
orange            284               1950
red               316               1162

Using our bare eye we can see that the distribution of the ratio of signups against non-signups count is disproportioinal. 
We can prove this by running chisquare test.

In [147]:
# I use list comprehension to decompose the dataframe into separate row vector.
chi2, p, dof, expected = stats.chi2_contingency([i for i in np.array(test_data)])
chi2, p

(121.00714102354999, 3.2548690463183682e-25)

From the p-value we can see that the variability between the agents signups per call is statistically significant.

In [140]:
ag_1 = [49, 701]
ag_2 = [52, 147]
ag_3 = [67, 272]
ag_4 = [284, 1950]
ag_5 = [316, 1162]
data = [ag_1, ag_2, ag_3, ag_4, ag_5]
chi2, p, dof, expected= stats.chi2_contingency(data)
chi2, p

(121.00714102354999, 3.2548690463183682e-25)

Next we dig into the characteristic features of leads and try to firstly find out leads from which region are more likely to be interested.

In [157]:
leads_calls = pd.merge(calls_data, leads_data, how = 'inner', on = 'Phone Number')
leadsOrderByRegion = leads_calls[leads_calls['Call Outcome'] == 'INTERESTED'].groupby('Region')['Region'].count().sort_values(ascending = False)
leadsOrderByRegion

Region
north-west          365
south-west          161
midlands            150
north-east          139
scotland            137
south-east          136
south                62
london               56
wales                50
northern-ireland     40
Name: Region, dtype: int64

We can see that leads from north-west are more likely to be interested.

then we can find out leads from which sector are more likely to be interested.

In [160]:
leadsOrderBySector = leads_calls[leads_calls['Call Outcome'] == 'INTERESTED'].groupby('Sector')['Sector'].count().sort_values(ascending = False)
leadsOrderBySector

Sector
consultancy      301
retail           290
food             261
wholesale        233
entertainment    135
construction      46
agriculture       30
Name: Sector, dtype: int64

We can see that leads from consultancy sector are more likely to be interested.

Given leads who have expressed interests and signed up, we want to find out leads from which region are more likely to be approved.

In [181]:
# We can use signups_leads_calls for this purpose since data included only covers those leads who have signed up.
signups_leads_calls_clean = signups_leads_calls[signups_leads_calls['Call Outcome'] == 'INTERESTED']
signups_per_region = signups_leads_calls_clean.groupby('Region')['Region'].count().sort_index()
approved_per_region = signups_leads_calls_clean[signups_leads_calls_clean['Approval Decision'] == 'APPROVED'].groupby('Region')['Region'].count().sort_index()
(approved_per_region/signups_per_region).sort_values(ascending = False)

Region
north-west          0.452381
scotland            0.451220
south               0.375000
south-east          0.337209
midlands            0.285714
northern-ireland    0.250000
south-west          0.245098
north-east          0.243902
wales               0.147059
london              0.080000
Name: Region, dtype: float64

We can see that leads from north-west region are more likely to be approved and the difference in approval rate is large across different regions.

We can run the same Chisquare test to see whether such difference is statistically different as well.

In [183]:
test_data = pd.concat([approved_per_region, signups_per_region - approved_per_region], axis = 1)
chi2, p, dof, expected = stats.chi2_contingency(test_data)
chi2, p

(39.42630068904591, 9.650022101968577e-06)

Unsurprisingly, the variation in approved rate is statistically significant across different regions.

Next, we want to build up a forecasting model for signups by firstly including the three characteristic features, i.e. age, region and sector.

In [423]:
# in_sample = signups_leads_calls_all[(signups_leads_calls_all['Call Outcome'] == 'INTERESTED') | (signups_leads_calls_all['Call Outcome'] == 'NOT INTERESTED')]
# Because the modelling results are not satisfactory, let me try to include all Call Outcome 
in_sample = signups_leads_calls_all[signups_leads_calls_all['Call Outcome'].notnull()]
temp_data = pd.merge(calls_data, leads_data, on = 'Phone Number', how = 'right')
out_sample = temp_data[temp_data['Call Outcome'].isnull()]

Create a data transformation pipeline for in-sample data

In [424]:
def data_pipeline(data, selected_cols, target_index, char_cols, char_orders, mapper):
    data = data.loc[:, selected_cols]
    for index, char_col in enumerate(char_cols):
        cat_type = CategoricalDtype(categories = char_orders[index], ordered = True)
        data[char_col] = data[char_col].astype(cat_type).values
        data = data.join(pd.get_dummies(data[char_col]))
    target_col = data[selected_cols[target_index]].map(mapper)
    data.insert(0, 'target', target_col)
    data = data.drop(selected_cols[target_index], axis = 1)
    data = data.drop(char_cols, axis = 1)
    return data

In [429]:
in_sample_vars = ['Approval Decision', 'Age', 'Sector', 'Region']
out_sample_vars = ['Phone Number','Name', 'Age', 'Sector', 'Region']
char_col =  ['Region', 'Sector']
char_order = [leadsOrderByRegion.index, leadsOrderBySector.index]
in_sample_mapper = {'APPROVED':1, 'REJECTED':1, None:0}
out_sample_mapper = {}
final_in_sample = data_pipeline(in_sample, in_sample_vars, 0, char_col, char_order, in_sample_mapper)
final_out_sample = data_pipeline(out_sample, out_sample_vars, 0, char_col, char_order, out_sample_mapper)
final_in_sample.columns

Index(['target', 'Age', 'north-west', 'south-west', 'midlands', 'north-east',
       'scotland', 'south-east', 'south', 'london', 'wales',
       'northern-ireland', 'consultancy', 'retail', 'food', 'wholesale',
       'entertainment', 'construction', 'agriculture'],
      dtype='object')

In [447]:
train_set, test_set = train_test_split(final_in_sample, test_size = 0.2, random_state = 42)
X_train = train_set.iloc[:, 1:]
Y_train = train_set.iloc[:, 0]
X_test = test_set.iloc[:, 1:]
Y_test = test_set.iloc[:, 0]

In [449]:
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
# param_grid = {'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000] }
# clf = GridSearchCV(LogisticRegression(penalty='l2'), param_grid)
# GridSearchCV(cv=None,
#              estimator=LogisticRegression(C=1.0, intercept_scaling=1,   
#                dual=False, fit_intercept=True, penalty='l2', tol=0.0001),
#              param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000]})
LogReg = LogisticRegression(solver= 'liblinear')
LogReg.fit(X_train, Y_train)

# pipe = Pipeline([('classifier' , RandomForestClassifier())])
param_grid = {
     'penalty' : ['l1', 'l2'],
    'C' : np.logspace(-2, 2, 20),
    'solver' : ['liblinear']},
grid_search = GridSearchCV(LogReg, param_grid, cv = 10, scoring = 'neg_mean_squared_error')
grid_search.fit(X_train, Y_train)
grid_search.best_params_
grid_search.best_estimator_.coef_
# LogReg.coef_
# Create grid search object
# grid_search

# clf = GridSearchCV(pipe, param_grid = param_grid, cv = 5, verbose=True, n_jobs=-1)
# best_clf = clf.fit(X_train, Y_train)

array([[ 1.43304245e-04,  1.52466127e-01,  2.78915851e-01,
        -2.89116812e-01, -1.71858961e-01, -1.91232946e-01,
         2.33664131e-02, -3.56314914e-01,  3.58374071e-01,
        -3.83534922e-01, -1.81115277e-01,  2.64684549e-01,
        -3.06284593e-01,  1.31544509e-01,  4.07760381e-01,
         1.43313028e-01, -7.79738064e-01, -6.21331180e-01]])

In [466]:

from sklearn.model_selection import cross_val_predict
from sklearn.metrics import precision_score, recall_score, roc_auc_score
# from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(X_train, Y_train)
knn_predict = cross_val_predict(knn, X_train, Y_train, cv = 10)

LogReg_predict = cross_val_predict(LogReg, X_train, Y_train, cv = 10)
LogReg.fit(X_train, Y_train)

aug_LogReg = grid_search.best_estimator_
aug_LogReg.fit(X_train, Y_train)
aug_LogReg_predict = cross_val_predict(aug_LogReg, X_train, Y_train, cv = 10)


# param_grid = {'classifier' : [LogisticRegression()],
#      'classifier__penalty' : ['l1', 'l2'],
#     'classifier__C' : np.logspace(-4, 4, 20),
#     'classifier__solver' : ['liblinear']}
RandFores = RandomForestClassifier(n_estimators=100)
RandFores.fit(X_train, Y_train)
RandFores_predict = cross_val_predict(RandFores, X_train, Y_train, cv = 10)

# [precision_score(Y_train, knn_predict), precision_score(Y_train, aug_LogReg_predict), precision_score(Y_train, RandFores_predict)]
# [recall_score(Y_train, knn_predict), recall_score(Y_train, aug_LogReg_predict), recall_score(Y_train, RandFores_predict)]
# [roc_auc_score(Y_train, knn_predict), roc_auc_score(Y_train, aug_LogReg_predict), roc_auc_score(Y_train, RandFores_predict)]

AttributeError: 'RandomForestClassifier' object has no attribute 'coef_'

In [460]:
# from sklearn.linear_model import LogisticRegressionCV
# model_cv = LogisticRegressionCV(10)
# model_cv.fit(X_train, Y_train)
[RandFores.score(X_test, Y_test), aug_LogReg.score(X_test, Y_test), knn.score(X_test, Y_test)]

[0.776, 0.667, 0.707]

In [308]:
X_train.shape

(2005, 18)

In [307]:
X_test.shape

(502, 18)